# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Project ignores
.DS_Store
bin/*
dist/*
demo/*
examples/*
test/*
testdata/*.html
*~
*.bak
*.swp
*.zip
temp.html
temp.md
copyright.html
DEVELOPERS.html
RELEASE-NOTES.html
RELEASES.html
TODO.html
ideas.html
*.diff
