---
cff-version: 1.2.0
message: "If you use this software, please cite it as below."
type: software
${if(name)}title: "${name}"${endif}
${if(description)}abstract: "${description}"${endif}
${if(author)}authors:
${for(author)}
  - family-names: ${it.familyName}
    given-names: ${it.givenName}
    orcid: "${it.at__id}"
${endfor}${endif}
${if(codeRepository)}repository-code: "${codeRepository}"${endif}
${if(version)}version: ${version}${endif}
${if(license)}license-url: "${license}"${endif}
${if(keywords)}keywords: [ ${for(keywords)}"${it}"${sep}, ${endfor} ]${endif}
${if(datePublished)}date-released: ${datePublished}${endif}
---

About this software
===================

$codemeta.name$ $codemeta.version$
----------------

$if(codemeta.author)$
### Authors

$for(codemeta.author)$
- $it.givenName$ $it.familyName$
$endfor$
$endif$

$if(codemeta.description)$
$codemeta.description$
$endif$


$if(codemeta.license)$- License: $codemeta.license$$endif$
$if(codemeta.codeRepository)$- GitHub: $codemeta.codeRepository$$endif$
$if(codemeta.issueTracker)$- Issues: $codemeta.issueTracker$$endif$


$if(codemeta.programmingLanguage)$
### Programming languages

$for(codemeta.programmingLanguage)$
- $codemeta.programmingLanguage$
$endfor$
$endif$

$if(codemeta.operatingSystem)$
### Operating Systems

$for(codemeta.operatingSystem)$
- $codemeta.operatingSystem$
$endfor$
$endif$

$if(codemeta.softwareRequirements)$
### Software Requiremets

$for(codemeta.softwareRequirements)$
- $codemeta.softwareRequirements$
$endfor$
$endif$

$if(codemeta.relatedLink)$
### Related Links

$for(codemeta.relatedLink)$
- [$it$]($it$)
$endfor$
$endif$
