<!DOCTYPE html>
<html>
<head>
    <title>Caltech Library's Digital Library Development Sandbox</title>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
<header>
<a href="http://library.caltech.edu"><img src="/assets/liblogo.gif" alt="Caltech Library logo"></a>
</header>
${if(nav)}<nav>
${nav}
</nav>${endif}

<section>
<h1>MkPage News</h1>
</section>
<section class="posts">
${if(blog.title)}<h2>${blog.title}</h2>${endif}
${if(blog.quip)}<blockquote>${blog.quip}</blockquote>${endif}
${if(blog.updated)}<p>Updated: ${blog.updated}</p>${endif}
${for(blog.years)}
<h3>Year: ${it.year}</h3>
  ${for(it.months)}
  <h4>Month: ${it.month}</h4>
  <ul>
      ${for(it.days)}
        <h5>Day: ${it.day}</h5>
        ${for(it.posts)}
<li><a href="${it.document}.html">${if(it.title)}${it.title}${else}${it.slug}${endif}</a> - ${it.date}</li>
        ${endfor}
      ${endfor}
  </ul>
  ${endfor}
${endfor}
</section>

<footer>
<span><h1><A href="http://caltech.edu">Caltech</a></h1></span>
<span>&copy; 2015 - 2020 <a href="https://www.library.caltech.edu/copyright">Caltech library</a></span>
<address>1200 E California Blvd, Mail Code 1-32, Pasadena, CA 91125-3200</address> 
<span>Phone: <a href="tel:+1-626-395-3405">(626)395-3405</a></span>
<span><a href="mailto:library@caltech.edu">Email Us</a></span>
<a class="cl-hide" href="sitemap.xml">Site Map</a>
</footer>
</body>
</html>
