<!DOCTYPE html>
<html>
<head>
    $if(title)$<title>$title$</title>$endif$
    $if(csspath)$<link rel="stylesheet" href="$csspath$">$endif$
</head>
<body>
    <header>
        $if(title)$<h1>$title$</h1>$endif$
    </header>
    <nav>
        <a href="/">Home</a>
    </nav>
    $if(content)$<section>$content$</section>$endif$
    <footer>Simple is a theme that works with  three elements "title", "csspath", and "content"</footer>
</body>
</html>
