<!DOCTYPE html>
<html>
<head>
	$if(title)$<title>$title$</title>$endif$
<style>
    body {
    	width: 100%;
    	height: 100%;
    	margin: 10%;
    	padding: 0;
    	font-size: 24px;
    	font-family: sans-serif;
        color: orange;
        background-color: white;
    }
    
    ul {
    	list-style: circle;
    	text-indent: 0.25em;
    }
    
    nav {
    	position: absolute;
    	top: 0em; 
    	margin:0;
    	padding:0.24em;
    	width: 100%;
    	height: 4em;
    	text-align: left;
    	font-size: 60%;
    }
    
	section, p {
		max-width: 85%;
		padding: 0.24em;
		margin: 0.24em;
	}

	code {
		color: black;
	}
</style>
</head>
<body>
	<nav>
$if(first_no)$
<a id="start-slide" href="$first_no$-$filename$.html">Home</a>
$endif$
$if(prev_no)$
<a id="prev-slide" href="$prev_no$-$filename$.html">Prev</a>
$endif$
$if(next_no)$
<a id="next-slide" href="$next_no$-$filename$.html">Next</a>
$endif$
	</nav>
	<section>$content$</section>
<script>
(function (document, window) {
    'use strict';
    var start = document.getElementById('start-slide'),
        prev = document.getElementById('prev-slide'),
        next = document.getElementById('next-slide');
    
    
    document.onkeydown = function(e) {
        switch (e.keyCode) {
            /* case 32: */
            case 37:
            // Previous: left arrow
                prev.click();
                break;
            case 39:
                // Next: right arrow
                next.click();
                break;
            case 72:
            case 83:
                // Home/Start: h, s
                start.click();
                break;
        }
    };
}(document, window));
</script>
</body>
</html>
