<!DOCTYPE html>
<html>
<head>
    <title>Fountain Demo</title>
    <link rel="stylesheet" href="fountain.css">
</head>
<body>
<header>
<h1>Fountain Demo</h1>
</header>
<nav>
$nav$
</nav>

<section>
$content$
</section>

<footer>
this was a demo of rendering a <a href="https://fountain.io/">Fountain</a>
document.
</footer>
</body>
</html>
