
${for(forecast.currentobservation)}
Current Observation:

+ ${it.name}
+ Elevation: ${it.elev}
+ Latitude: ${it.latitude}
+ Longitude: ${it.longitude}
+ Date: ${it.Date}
+ Temp: ${it.Temp}
+ Dew Point: ${it.Dewp}
+ Relative Humidity: ${it.Relh}
+ Winds: ${it.Winds}
+ Wind direction: ${it.Windd}
+ Gust: ${it.Gust}
+ Visibility: ${it.Visibility}

${endfor}

Forecast:
${for(forecast.data.text)}
      + ${it}
${endfor}

